@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager navigationManager
@implements IDisposable

<div class="form-group">
    <label>Usuario:</label>
    <input @bind="Usuario" />
</div>

<div class="form-group">
    <label>Mensaje:</label>
    <input @bind="Mensaje" />
</div>

<label>Se ha recibido: @recibido</label>

<button @onclick="Enviar" disabled="@(!isConnected)">
    Enviar
</button>

@code
{
    string Usuario = string.Empty;
    string Mensaje = string.Empty;

    string recibido = string.Empty;

    HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://ljchuello.xyz/chathub")
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (x, y) =>
        {
            recibido = $"{x} - {y}";
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    async Task Enviar()
    {
        await hubConnection.SendAsync("SendMessage", Usuario, Mensaje);
    }

    public bool isConnected => hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}
